.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #ededed;
    gap: 10px;
    min-width: 0;
    margin-bottom: 2rem;
}

.header-title {
    flex-grow: 1;
    text-align: center;
    font-size: clamp(16px, 4vw, 24px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.header-title:hover {
    cursor: pointer;
}

.role-container {
    display: flex;
    align-items: center;
    gap: 8px;
    white-space: nowrap;
}

#role-select {
    font-size: clamp(12px, 2vw, 16px);
    padding: 5px;
    max-width: 150px;
}
